  <div class='calendar-container'>
  <div class="day">
    <p>M</p>
    <p>T</p>
    <p>W</p>
    <p>T</p>
    <p>F</p>
    <p>S</p>
    <p>S</p>
  </div>
  <div class="date">
    <p>25</p>
    <p>26</p>
    <p>27</p>
    <p>28</p>
    <p><span class="rounded-circle">29</span></p>
    <p>30</p>
    <p>1</p>
  </div>
  <div class="month">
    <p id="margin-left">nov</p>
    <p>dec</p>
  </div>
</div>
<div class="container sessions-index">
<h2><%= @movie.name %></h2>
<% if @movie.sessions.empty? %>
  <p>Sorry, there are no sessions available for this film</p>
  <% else %>
    <% @movie.cinemas.each do |cinema| %>
      <h3><%= cinema.name %></h3>
          <h4>Next sessions:</h4>
      <% @movie.sessions.joins(:room).where(rooms: { cinema_id: cinema.id }).each do |session| %>
      <div class="movie-sessions">
          <%# @movies.where(cinema: cinema).each do |session| %>
            <%#= link_to "#{session.showtime.strftime("%I:%M%p")}", movie_session_path(@movie, session), class: "btn red-button" %>
          <%# end %>
          <%= link_to "#{session.showtime.strftime("%I:%M%p")}", movie_session_path(@movie, session), class: "btn red-button" %>
      </div>
      <div style="height:10px"></div>
      <% end %>
  <% end %>
 <% end %>

<div style="height:10px"></div>

<%= link_to "Go back to search", movies_path, class: "btn grey-button" %>
</div>
