
<% if @movie.sessions.empty? %>
  <p>Sorry, there are no sessions available for this film</p>
  <% else @movie.sessions.each do |session| %>
      <ul>
        <li>
          <%= session.room.cinema.name %>
          <p></p>
          <%= link_to "#{session.showtime}", movie_session_path(@movie, session), class: "btn red-button" %>
        </li>
      </ul>
  <% end %>
 <% end %>

<p></p>

<%= link_to "Go back to Movie", movie_path(@movie), class: "btn red-button" %>
