.outer-container {
  position:absolute;
  top:0;
  bottom:85px;
  width:100vw;
  display: flex;
  flex-direction: column;
  font-family: Work Sans;
  // height: calc(100vh-100px);
  // margin-bottom:85px;
  // padding-top:150px;
  color:white;

  .fa-arrow-left {
    position:absolute;
    // margin-top:40px;
    // color: white;
    // padding-left:20px;
    font-size:24px;
    top:60px;
    margin:0;
  }

  .dashboard-container {
    margin-top: 100px;
    color:white;
    width:90%;
    padding:10px;
    h2 {
      font-family: Work Sans;
      font-size: 36px;
      margin-bottom:32px;
    }


  }
}
