.sessions-index {
  font-family: work sans;
  width: 100%;
  margin: unset;
  margin-top: 10px;
  margin-bottom: 100px;
    h2 {
    color: white;
    font-family: Work Sans;
    font-size: 28px;
  }
    h3 {
    color: white;
    font-family: Work Sans;
    font-size: 20px;
  }

    h4 {
    color: $lightergrey;
    opacity: 0.8;
    font-family: Work Sans;
    font-size: 16px;
    // font-weight: lighter;
  }

  .red-button {
    width: auto;
  }

  .sessions-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .movie-sessions {
    display: flex;
  }
  .session-each {
    margin-right: 30px;
    margin-bottom: 20px;
    position: relative;
    .session-discount {
      width: 42px;
      height: 30px;
      border-radius: 8px;
      background-color: $lightergrey;
      position: absolute;
      top: -10px;
      right: -16px;
      transform: rotate(-20deg);
      animation-duration: 3s;
      animation-delay: 0.5s;
      // animation-iteration-count: infinite;
      text-align: center;
      opacity: 0.9;
      p {
        font-weight: 500;
        color: $red;
        margin-top: 5px;
        font-size: 13px;
      }
    }
  }

  .grey-button {
    width: 100%;
  }
}


#bookings-list {
  display: flex;
  color: white;
  .seat-list {
    border-radius: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: $turquoise;
    color: $darkergrey;
    margin-left: 3px;
    margin-bottom: 10px;
  }
  p {
    font-size: 11px;
    margin-top: 7px;
  }
}

.selected-seats {
  h2 {
    font-size: 16px;
    font-weight: lighter;
  }
}

.moviename-calendar {
  padding: 15px;
  h2 {
    color: $lightergrey;
    font-family: Work Sans;
    font-size: 28px;
    margin-bottom: 0px;
  }
}
