.sessions-index {
  font-family: work sans;
  width: 100%;
  margin: unset;
  margin-top: 10px;
  margin-bottom: 100px;
    h2 {
    color: white;
    font-family: Work Sans;
    font-size: 28px;
  }
    h3 {
    color: white;
    font-family: Work Sans;
    font-size: 20px;
  }

    h4 {
    color: $lightergrey;
    opacity: 0.8;
    font-family: Work Sans;
    font-size: 16px;
    // font-weight: lighter;
  }

  .red-button {
    width: auto;
  }

  .grey-button {
    width: 100%;
  }

  .img-container {
    width: 100%;
    height: 100px;
    overflow: hidden;
    margin-bottom: 10px;
    img {
      width: 100%;
      display:block;
      margin:-21.875% 0;
    }
  }
}

#bookings-list {
  display: flex;
  color: white;
  .seat-list {
    border-radius: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: $red;
    color: white;
    margin-left: 3px;
    margin-bottom: 10px;
  }
  p {
    font-size: 11px;
    margin-top: 7px;
  }
}

.selected-seats {
  h2 {
    font-size: 16px;
    font-weight: lighter;
  }
}
