<p id="notice"><%= notice %></p>

<div class="container">
  <div class="text-center">
    <div class="mb-2 search-bar">
      <div class="search-form">
        <div class="form-input">
          <%= form_tag movies_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "search-form-control",
            placeholder: "Find a movie"
          %>
        </div>
        <div class="form-button">
          <%#= submit_tag "Search" %>
        </div>
        <% end %>
     </div>
    </div>
  </div>
  <div style="height: 30px"></div>

  <h3 class="browse-title">Browse all movies</h3>
  <div class="movie-card-box">
    <% @movies.each do |movie| %>
    <!-- this image will be a movie.image linked to movie show path -->
      <img class="movie-card-img" src="https://www.joblo.com/assets/images/joblo/posters/2019/08/joker-poster-main2.jpg">
    <% end %>
  </div>

</div>

