<p id="notice"><%= notice %></p>

    <h1><%= @movie.name %></h1>
    <p><%= @movie.description %></p>

        <img src="<%= cl_image_path @movie.image,  height: 300, width: 400, crop: :fill %>"></div>

