<div class="navbar navbar-expand fixed-bottom justify-content-center component-gray" id="navbar-container" >

  <!-- Links -->
  <ul class="navbar-nav row component-navbar-links" >
    <li class="nav-item col" id="navbar-root-link">
      <%= link_to root_path, class: "nav-link text-center navbar-tabs" do %><i class="fas fa-home"></i><% end %>
    </li>
    <li class="nav-item col" id="navbar-search-link">
      <%= link_to movies_path, class: "nav-link text-center navbar-tabs" do %><i class="fas fa-search"></i><% end %>
    </li>
    <li class="nav-item col" id="navbar-dashboard-link">
      <%= link_to dashboard_path, class: "nav-link text-center navbar-tabs" do %><i class="fas fa-ticket-alt"></i><% end %>
    </li>
    <li class="nav-item col" id="navbar-profile-link">
      <%= link_to profile_path, class: "nav-link text-center navbar-tabs" do %><i class="fas fa-user"></i><% end %>
    </li>
  </ul>

</div>

