<div class="components-container" style="margin-bottom: 200px" >
  <h2 style="color:white">All the css components will be shown here</h2>




<h3 style="margin:100px"> Book card</h3>
  <div class="book-card">
    <div class="card-info">
      <p class="amount_tickets">2 tickets</p>
      <span id="price">240 kr</span>
    </div>
    <div class="button-area">
      <a class="btn red-button" href="#">Book</a>
    </div>
  </div>












  <h3 style="margin:100px"> Dashboard card</h3>
  <div class="dashboard-card">
    <div class="card-body">
      <p class="date-time">DATE, TIME</p>
      <h4 class="movie-title">Movie title</h4>
      <h6 class='price'>price</h6>
    </div>
  </div>

    <h3 style="margin:100px"> Product Card</h3>
    <div class="product-card">
      <%= cl_image_tag("xj4rn787uwrfcxxkoim6",
        crop: :fill, class: "product-image") %>
      <div class="product-card-infos">
        <p>ADDRESS</p>
        <h2>Name of cinema</h2>
        <p id="darker">City</p>
      </div>
    </div>

    <div style="margin:30px;">
      <h3> Grey button</h3>
      <div>
        <a class="btn grey-button" href="#">Register</a>
      </div>
    </div>

    <div style="margin:30px">
      <h3> White button</h3>
      <div>
        <a class="btn white-button" href="#">Login</a>
      </div>
    </div>


  <div style="margin:30px">
      <h3> red button</h3>
      <div>
        <a class="btn red-button" href="#">Book</a>
      </div>
    </div>


  <%= image_tag "https://kitt.lewagon.com/placeholder/users/sarahlafer", class: "avatar-bordered", alt: "avatar-bordered" %>

  <h3 style="margin: 100px;">Home carousel item</h3>
  <div class="home-movie-poster">
    <a href="https://www.github.com/"><img src="https://i1.sndcdn.com/artworks-000592403786-dzqnmz-t500x500.jpg">
      <div class="poster-content">
        <div class="poster-content-text">
          <h5>29/11, 17h</h5>
          <h2>The Matrix</h2>
          <h3><i class="fas fa-tags"></i> <span class="original-price">110dkk</span> | 80dkk</h3>
        </div>
      </div>
    </a>
  </div>

  <h3 style="margin:100px">Movie Index Card</h3>
  <div class="movie-card-box">
    <% @movies.each do |movie| %>
      <!-- this image will be a movie.image linked to movie show path -->
      <img class="movie-card-img" src="https://www.joblo.com/assets/images/joblo/posters/2019/08/joker-poster-main2.jpg">
    <% end %>
  </div>


<h3>Search bar</h3>
<div class="text-center">
  <div class="mb-2 search-bar">
    <div class="search-form">
      <div class="form-input">
        <%= form_tag movies_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "search-form-control",
          placeholder: "Find a movie"
        %>
      </div>
      <div class="form-button">
        <%#= submit_tag "Search" %>
      </div>
      <% end %>
   </div>
  </div>
</div>
</div>
