
<h1>Cinemapp</h1>
<h2>Popular films</h2>
<div id="carousel">
  <div><a href="https://www.google.com/"><img src="https://cdn.shopify.com/s/files/1/0598/2925/products/i5XKDHv.jpg?v=1556233439" height="300" width="200"></a></div>
  <div><a href="https://www.whatever.com/"><img src="https://www.joblo.com/assets/images/joblo/posters/2019/08/joker-poster-main2.jpg" height="300" width="200"></a></div>
  <div><a href="https://www.github.com/"><img src="https://images-na.ssl-images-amazon.com/images/I/51-LjrCfgkL.jpg" height="300" width="200"></a></div>
  <div><a href="https://www.lewagon.com/"><img src="https://images-na.ssl-images-amazon.com/images/I/51Q7Psa2ufL.jpg" height="300" width="200"></a></div>
</div>
