
.dashboard-card {
  width:100%;
  margin: 20px;
  background-color: $lightgrey;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 0 10px 10px -9px black;
  padding: 20px;
}

.card-date-time {
  font-family: Work Sans;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 5px;
}

.dashcard-body > p {
  margin-bottom: 8px;
}

.dashcard-body > h4 {
  margin-bottom: 8px;
}

.movie-title {
  font-family: Work Sans;
  font-weight: 500;
}

h6 {
  font-family: Work Sans;
  font-weight: 500;
  font-size:24px;
  margin-left:5px;
}

.date-time {
  font-family: Work Sans;
  font-weight: 600;
  font-size: 12px;
}

.tickets-price-info{
    .dashicons{
      margin-top: 5px;
      font-size: 20px;
      margin-right:5px;
    }
      display:flex;
      .tickets-info{
        display:flex;
        margin-right:50px;
      }
      .price-info{
        display:flex;
      }
    }
// li {
//   list-style-type: none;
//   margin-right: 5px;
//   display: flex;
//   justify-content: space-between;
//   align-items: flex-end;
//   align: center;
// }

// ul {
//   padding-left: 0px;
//   font-family: Work Sans;
//   font-weight: 600;
//   font-size: 12px;
//   margin-bottom: 5px;
// }
