.fa-arrow-left {
  position:absolute;
  // margin-top:40px;
  color: white;
  // padding-left:20px;
  font-size:24px;
  top:20px;
  margin:0;
}


.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
