.white-button {
  color: black;
  font-family: Work Sans;
  font-weight:600;
  font-size: 15px;
  padding: 16px 24px;
  border:solid 1.5px;
  border-radius: 12px;
  background: white;
  width:80%;
  box-shadow: 0 10px 10px -9px black;

}

// .white-button:hover {
//   background: $darkgrey;
//   color: white;
//   transition: background 0.3s ease;

// }
